* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgba(18, 10, 124, 0.719);
    padding: 3%;
}

.btn{
    height:fit-content;
    margin-right: 15px;
}


.btn, a{
    color:rgba(11, 9, 41, 0.527);
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    font-size: 1.5rem;
    text-transform: lowercase;
}

a:hover{
    color: rgba(18, 10, 124, 0.719);
}

.categories{
    padding-left: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

#title{
    color: aliceblue;
    font-size: 6rem;
    font-family: 'Staatliches', cursive;
    letter-spacing: 3px
;}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cartIcon{
    color: aliceblue;
    margin: 7%;
    margin-top: 80%;
    font-size: 2.5rem;
    align-items:center;
}

.counterDiv{
    background-color: aliceblue;
    margin-top: 5%;
    border: aliceblue 2px solid;
    border-radius: 10px;
    width: 12rem;
}

.counter{
    border: rgba(18, 10, 124, 0.719) 1px solid;
    border-radius: 10px;
    margin: 7%;
    text-align: center;
    padding: 3%;
}

.btnsCounter{
    margin: 7%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.btnCounter{
    font-size: 1rem;
    color: aliceblue;
    background-color: rgba(18, 10, 124, 0.719);
    border: none;
    width: 3.5rem;
    border-radius: 100%;
    padding: 10%;
}

.btnAddToCart{
    font-size: 1rem;
    color: aliceblue;
    background-color: rgba(18, 10, 124, 0.719);
    border: none;
    width: 100%;
    padding: 5%;
}

.cardProduct{
    background-color:rgba(18, 10, 124, 0.719);
    border-radius: 15px;
    width: 20rem;
    height: 30rem;
    margin: 5%;
    text-align: center;
  
}
.titleProduct{
    font-size: 3rem;
    color: aliceblue;
}
.priceProduct{
    font-size: 2.5rem;
}

.detailLink{
    width: 100%;
    color: rgba(18, 10, 124, 0.719);
    background-color: aliceblue;
}

.detailContainer{
    text-align: center;
    background-color:rgba(18, 10, 124, 0.719);
    border: none;
    border-radius: 15px;
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.detailsTxt{
    text-align: left;
    padding: 5%;
}

.detailTitle{
    font-family: 'Staatliches', cursive;
    color: blanchedalmond;
    font-size: 3rem;
}

.detailDescription{
    color: blanchedalmond;
}

.imgProductDetail{
    width: 25rem;
    border-radius: 15px;
    margin: 5%;
}

.imgProduct{
    width: 15rem;
    border-radius: 10px;
    margin: 5%;
} 

.cartLi{
    display: flex;
    flex-direction: column;
}

.cartContainer{
    margin: 5%;
    width: 90% auto;
    background-color: rgba(18, 10, 124, 0.719) ;
    padding: 5%;
}

.cartTitle{
    font-size: 5rem;
    color:aliceblue;
    font-family: 'Staatliches', cursive;
}
.cartRow{
    margin: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.imgCart{
    width: 8rem;
    border-radius: 15px;
}
.btnRemove{
    font-size: 1rem;
    color: rgba(18, 10, 124, 0.719);
    background-color:aliceblue;
    border: none;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    padding: 2%;
}
.cartProduct{
    color: aliceblue;
}
.total{
    text-align: center;
    margin-top: 15%;
    background-color: aliceblue;
    color: rgba(18, 10, 124, 0.719);
    padding: 3%;
    border-radius: 15px;
}
.cartBtns{
    text-align: center;
}
.btnCart{ 
    text-align: center;
    background-color: aliceblue;
    color: rgba(18, 10, 124, 0.719);
    border-radius: 15px;
    border: none;
    font-size: 2rem;
    width:fit-content;
    padding-left: 4%;
    padding-right: 4%;
    margin: 2%;
}
.emptyCart{
    color: aliceblue;
    font-size: 3rem;
}



