* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:royalblue;
    padding: 3%;
}

#title{
    color: aliceblue;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


li, a{
    text-transform: uppercase;
    text-decoration: none;
    color:royalblue;
    display: flex;
    flex-direction: row;
    margin: 2%;
    width: max-content;
}

.cartIcon{
    color: aliceblue;
    margin: 7%;
    font-size: 2.5rem;
}

.greeting{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: royalblue;
    font-size: 3rem;
    padding: 5%;
}

.counterDiv{
    margin: 5%;
    border: royalblue 2px solid;
    border-radius: 10px;
    width: 12rem;
}

.counter{
    border: royalblue 1px solid;
    border-radius: 10px;
    margin: 7%;
    text-align: center;
    padding: 3%;
}

.btnsCounter{
    margin: 7%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.btnCounter{
    font-size: 1rem;
    color: aliceblue;
    background-color: royalblue;
    border: none;
    width: 3.5rem;
    border-radius: 100%;
    padding: 10%;
}

.btnAddToCart{
    font-size: 1rem;
    color: aliceblue;
    background-color: royalblue;
    border: none;
    width: 100%;
    padding: 5%;

}

.cardProduct{
    background-color: royalblue;
    border: none;
    border-radius: 15px;
    width: 250px;
    height: 15rem;
    margin: 5%;
  
}

.titleProduct, .priceProduct, .detailTitle, .detailPrice{
    color: aliceblue;
    font-size: 2rem;
    text-align: center;
    padding: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.detailLink{
    width: 100%;
    text-align: center;
    color: aliceblue;
    margin: 3%;;
}

.detailContainer{
    background-color: royalblue;
    border: none;
    border-radius: 15px;
    width: 300px;
    height: 20rem;
    margin: 5%;
}

.detailDescription{
    color: aliceblue;
    font-size: 1.5rem;
    text-align: center;
    padding: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.detailColorAndSize{
    display: flex;
    flex-direction: row;
    color: aliceblue;
    justify-content: space-around;
}



